# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.env

# unused source files
s3-addFile_fetch.js
s3-createBucket.js 
s3-listBuckets.js 
s3-listFiles.js 

# https://blog.summercat.com/using-aws-lambda-and-api-gateway-as-html-form-endpoint.html
